<div class="container">
  <div class="arrow-btn">
    <span
      tabindex="0"
      class="arrow-icon"
      nz-icon
      nzType="arrow-left"
      nzTheme="outline"
    ></span>
  </div>

  <div class="lottie-div">
    <div id="lottie-container"></div>
  </div>
  <div class="meg-div">
    <div class="center-div">
      <p>
        Deliver greatness, earn rewards!<span>
          <br />
          Join us on the road to success.</span
        >
      </p>
    </div>
  </div>
  <div class="goOnline-div">
    <button type="button" class="signIn-btn" (click)="goOnline()">
      Go Online
    </button>
  </div>
</div>
