<div>
  <span
    tabindex="0"
    class="arrow-icon"
    (click)="closeForRideHistory()"
    (keyup.enter)="closeForRideHistory()"
    nz-icon
    nzType="arrow-left"
    nzTheme="outline"
  ></span>
</div>
<div class="ride-header-div">
  <p>Ride history</p>
  <hr style="border-color: #00a080" />
</div>

<div class="container">
  <div class="rider-history-div">
    <div class="flex-div">
      <div class="img-div">
        <img
          class="chef-hat-img"
          src="../../assets/images/chef-hat.png"
          alt=""
        />
      </div>
      <div class="pickup-information">
        <p>PICK UP FROM</p>
        <p class="res-name">Cettinad Hotel</p>
      </div>
    </div>
    <div class="flex-div" style="margin-top: 10%">
      <div class="img-div">
        <img class="chef-hat-img" src="../../assets/images/house.png" alt="" />
      </div>
      <div class="pickup-information">
        <p>DELIVERY TO</p>
        <p class="res-name">Sam</p>
      </div>
    </div>

    <div class="line-div">
      <img src="../../assets/images/line.png" alt="" />
    </div>

    <div class="date-div">
      <p>5 Feb</p>
    </div>

    <hr style="border-color: #00a080" />
    <div class="item-details">
      <h4>3 ITEM IN THE ORDER</h4>
      <p>Biriyani and cutlery</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="rider-history-div">
    <div class="flex-div">
      <div class="img-div">
        <img
          class="chef-hat-img"
          src="../../assets/images/chef-hat.png"
          alt=""
        />
      </div>
      <div class="pickup-information">
        <p>PICK UP FROM</p>
        <p class="res-name">Cettinad Hotel</p>
      </div>
    </div>
    <div class="flex-div" style="margin-top: 10%">
      <div class="img-div">
        <img class="chef-hat-img" src="../../assets/images/house.png" alt="" />
      </div>
      <div class="pickup-information">
        <p>DELIVERY TO</p>
        <p class="res-name">Sam</p>
      </div>
    </div>

    <div class="line-div">
      <img src="../../assets/images/line.png" alt="" />
    </div>

    <div class="date-div">
      <p>5 Feb</p>
    </div>
    <hr style="border-color: #00a080" />
    <div class="item-details">
      <h4>3 ITEM IN THE ORDER</h4>
      <p>Biriyani and cutlery</p>
    </div>
  </div>
</div>
