.container {
  display: flex;
  justify-content: space-around;
}
.pickup-container {
  display: flex;
}
.pickup-information {
  line-height: 0.3rem;
  margin-left: 4%;
  width: 185px;
  height: auto;
}
.chef-div img {
  width: 30px;
  height: 30px;
  padding-top: 4%;
}
.picup-meg {
  /* font-size: 13px; */
  /* font-weight: bold; */
}
.res-name {
  font-size: 20px;
  font-weight: bold;
  color: #fc8019;
}
.address {
  width: 300px;
  line-height: 0.9rem;
}
.item-details {
  margin-left: 18%;
  line-height: 0.9rem;
}
.btn-div {
  margin-top: 15%;
}
.signIn-btn {
  display: block;
  /* margin-left: 15px;  */
  width: 100%;
  height: 58px;
  font-size: 16px;
  font-weight: bold;
  background-color: #00a080;
  color: #fff;
  border: none;
  border-radius: 28px;
  margin-top: 2%;
  text-align: center;
}
.position {
  position: relative;
  height: 600px;
  margin-bottom: 6%;
  border: 1px solid gray;
  border: none;
  border-radius: 28px;
}
.line-div {
  position: absolute;
  left: 11.6%;
  top: 22%;
}
.due-time {
  width: 5.25rem;
  height: 5.25rem;
  border-radius: 100%;
  text-align: center;
  line-height: 0.2rem;
  color: #fff;
  background-color: #00a080;
  position: absolute;
  top: 1.5%;
  right: 10px;

  /* margin: 0 auto; */
}
.item-center {
  width: 100%;
  margin: 0 auto;
  padding-top: 15%;
}
.time {
  font-size: 26px;
  font-weight: bold;
}
.map-btn {
  border: none;
  background-color: #fff;
}

.card {
  margin: 2% auto;
  /* padding: 6px; */
  display: block;
  /* max-width: 500px; */
  width: 50%;
  text-align: center;
  background-color: #00a080;
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 10px -5px #909090;
  line-height: 1.3rem;
  position: relative;
}

#countdown {
  font-size: 28px;
  margin-top: 10%;
  padding-top: 8%;
}
