<div class="container">
  <div class="arrow-btn">
    <span
      tabindex="0"
      class="arrow-icon"
      nz-icon
      nzType="arrow-left"
      nzTheme="outline"
    ></span>
  </div>

  <div class="lottie-div">
    <div id="lottie-container"></div>
  </div>

  <div class="meg-div">
    <p>
      Order from <br />
      any store or <span>restaurant</span> <br />
      in your <span>city</span>
    </p>
  </div>

  <div class="goOnline-div">
    <button type="button" class="signIn-btn" (click)="goToNextPage()">
      Next
    </button>
  </div>
</div>
